*{
  margin: 0;
  text-decoration: none;
}
/*Title Sections*/
.topTitle{
  color: #ddd;
  background-color: #282E34;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}
/*About Section*/
.aboutUS{
  position: relative;
  color: #ddd;
  background-color: #282E34;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.all-initial-vals{
  text-align: center;
    color: white;
    border: 3px outset #c29970;
    border-radius: 5px;
    margin-top: 20px;
}
/*Data Section*/
.dataGraph{
  position: relative;
  color: #ddd;
  background-color: #282E34;
  text-align:center;
  padding: 50px 80px;
  text-align: center;
}

.dataTitle{
  margin-bottom: 20px
}

.celectors{
    border-style: none;
}

#submit-dates{
    background-color: white;
    border: none;
    color: black;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
}

#submit-dates:hover {
    background-color: #c29970;
    color: white;
  }
/*History Section*/
.bridgeHistory{
  position: relative;
  color: #ddd;
  background-color: #282E34;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

/*Paralax Scroll*/
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  background-color: black;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bgimg-1 {
  background-image: url("../imgs/FremontBridgeOpen.jpg");
  min-height: 600px;
}

.bgimg-2 {
  background-image: url("../imgs/FremontBridgeClosed.jpg");
  min-height: 600px;
}
.bgimg-3 {
  background-image: url("../imgs/FremontBridgeWall.jpg");
  min-height: 600px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}


h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #c29970;
  text-align: center;
}

/*Ericks Graph*/
.bar {
  fill: #c29970;
}

.axisWhite line{
  stroke: white;
}

.axisWhite path{
  stroke: white;
}

.axisWhite text{
  fill: white;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: auto;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.mouseover-color {
  fill: #0072ab;
}

/*

MEDIA QUERIES FOR SVGS

*/

@media screen and (max-width: 920px){

  .dataGraph {
    overflow: scroll;
  }
  .aboutUS, .bridgeHistory{
    padding: 1.5em;
  }
}
