*{
  margin: 0;
  text-decoration: none;
}
/*Title Sections*/
.topTitle{
  color: #ddd;
  background-color: #282E34;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}
/*About Section*/
.aboutUS{
  position: relative;
  color: #ddd;
  background-color: #282E34;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.all-initial-vals{
    font-size: 1.3em;
   text-align: center;
    color: white;
    border: 3px outset #c29970;
    border-radius: 5px;
    margin-top: 20px;
}
/*Data Section*/
.dataGraph{
  position: relative;
  color: #ddd;
  background-color: #282E34;
  text-align:center;
  padding: 50px 80px;
  text-align: center;
}

.dataTitle{
  margin-bottom: 20px
}

.celectors{
    border-style: none;
}

#submit-dates{
    background-color: white;
    border: none;
    color: black;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
}

#submit-dates:hover {
    background-color: #c29970;
    color: white;
  }
/*History Section*/
.bridgeHistory{
  position: relative;
  color: #ddd;
  background-color: #282E34;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

/*Paralax Scroll*/
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  background-color: black;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bgimg-1 {
  background-image: url("../imgs/FremontBridgeOpen.jpg");
  min-height: 600px;
}

.bgimg-2 {
  background-image: url("../imgs/FremontBridgeClosed.jpg");
  min-height: 600px;
}
.bgimg-3 {
  background-image: url("../imgs/FremontBridgeWall.jpg");
  min-height: 600px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 1.2em;
  letter-spacing: 10px;
}


h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 1.75em "Lato", sans-serif;
  color: #c29970;
  text-align: center;
}

/*Ericks Graph*/
.bar {
  fill: #c29970;
}

.Northbound .bar{
  fill: #FF4500;
}

.Southbound .bar{
  fill: #4169E1;
}

.axisWhite line{
  stroke: white;
}

.axisWhite path{
  stroke: white;
}

.axisWhite text{
  fill: white;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: auto;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.mouseover-color {
  fill: #0072ab;
}
.Northbound .mouseover-color {
  fill:  #c29970;
}
.Southbound .mouseover-color {
  fill: #FF4500;
}

/*

Toggle Switches For Chart Viewing

*/

.settings {
  display: table;
  width: 80%;
  display: none;

}
.settings .row {
  display: table-row;
  width: 60%;
  margin: auto;

}
.settings .question,
.settings .switch {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  width: 100%;
}
.settings .question {
  font-size: 1.1em;
}

.switch{

}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 30px;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 30px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 29px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
#totalToggle:checked + label:before{
  background-color: #c29970;
}
#nbToggle:checked + label:before{
  background-color: #FF4500;
}
#sbToggle:checked + label:before{
  background-color: #0072ab;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 30px;
}

.dataGraphTrafficHourlyNB, .dataGraphTrafficNB, .dataGraphHourlyNB, .dataGraphDailyNB, .dataGraphMonthlyNB,
.dataGraphTrafficHourlySB, .dataGraphTrafficSB, .dataGraphHourlySB, .dataGraphDailySB, .dataGraphMonthlySB{
  display: none;
}



/*

MEDIA QUERIES FOR SVGS

*/

@media screen and (max-width: 920px){

  .dataGraph {
    overflow: scroll;
  }
  .aboutUS, .bridgeHistory{
    padding: 1.5em;
  }
}
